spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: dev
    password: dev
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true